<footer>
    <div id="disclaimer">
        <p style="background: rgba(40,40,40,.9)">CST438 Software Engineering. 2020&copy; Kallis, Ridge, Tan, Castro <br>
        <strong>Disclaimer:</strong> The quality or this webpage may be excessively awesome.
        It is used for academic research purposes only.</p>
    </div>
</footer>
</html>