<%- include('partials/header'); -%> 
    </head>
    <body>
         <h1> Thank you for your purchase! </h1>
  Sorry! No refunds! All sales are final!<br><br>
  
  <form action = /searchProduct>
  <button> Buy more </button>
  </form>

</body>
<%- include('partials/footer'); -%> 