<%- include('partials/header'); -%>
    </head>
    <body>
         <h1> User Guidelines </h1><br>
         <p> These rules must be followed or disiplinary actions will be taken</p>
         
         <br>
    <form action = /logout>
<button> Logout </button>
</form>
<br>

<h1> Rules for reviews: </h1>
<div class="narrow">

<li> Be Polite.  If the users pictures were deceptive you can say the user was 
fatter than the pictures let on but you can't say just call them fat.  Avoid swearing.  </li>
<li> Be Specific.  You can't call someone creepy and leave it at that.  You can say 
the person was creepy because they kept asking you to go back to their place when you 
were clearly not interested and they weren't taking the hint.</li>
<li> Don't say anything threatening.  Other people can see what you write in your reviews
and you don't want to be a creep or a psycho.</li>
<li> If they didn't show up to a planned date you can put that in your review. It is standard 
practice to verify the date within 12 hours before it happens, please include if you checked to make sure the date was still on.</li>
<li> Please do not leave a bad review just because someone didn't want to keep seeing you, especially if you had a good time.  
Everyone has a right to chose who they want to spend time even if rejection is painful.  It is valid to leave a bad review if 
they lied or you felt used. </li>
<li> Spending a lot of money on someone you barely know does not entitle you to a good review or anything else.  If you want a 
person who will have sex with you for money, dateing is perhaps not the most efficient way to find this person. </li>
<li> Heart reviews are from 0 to 5.  5 means you had an exceptionally good time with the person, and 0 means you had 
an exceptionally terrible time with the person.  </li>
<br>

</div>
<br>

<h1> Examples. (We encourage more detail)</h1>
<div class="narrow">
  
<li> 5 hearts: Great sense of humor, loved spending time with her.  Wish it had worked out. </li>
<li> 4 hearts: We had a fun night out but when he invited me back to his place his mom greeted us at the door.  
I wished them both well.</li>
<li> 3 hearts: He bought me dinner and seemed nice but he was really into sports, videogames and celebrity 
gossip and that's not my thing.  We didn't really click.  He seems cool if you are into those things. </li>
<li> 2 hearts:  She hardly stopped talking to breath and when I did talk it seemed like she was just waiting to 
say her next thing almost ignoring what I said.  Got distracted looking at her phone a few times during our coffee date.</li>
<li> 1 hearts: Lied about his height, weight, job, and marital status. Had to shout before he took no for
an answer.  Otherwise had fun. </li>
<li> 0 hearts: Showed up 25 minutes late, kicked me when I didn’t agree that her cats were cute fast enough, 
called our waitress a b****, and gave me coronavirus. </li>

<br>
</div>
<br>
</body>
<%- include('partials/footer'); -%>