<%- include('partials/header'); -%>
        
    </head>
    
    <body>
            <h1 class="jumbotron">Rate - A - Date</h1>
            Avoid disaster, improve yourself, find love.
            <br>
            <br>
            <br>
            
            <button id="submitBtn1" class="btn btn-outline-danger"> User Sign In </button><br>
            
            <button id="submitBtn2" class="btn btn-outline-danger"> Admin Sign In </button><br>
    
    <script>
            $("#submitBtn1").on("click", function()
            {
                location.href = "/userLogin";
            });
            $("#submitBtn2").on("click", function()
            {
                location.href = "/adminLogin";
            });
        </script>
        
        <br>
        <a href="/createAccount">Create an Account</a>
        
    </body>
    

<%- include('partials/footer'); -%>