<%- include('partials/header'); -%>
<script>
    $(document).ready(function () {
        $("form").submit(function () {
            $.ajax({
                method: "POST",
                url: "/userLoginProcess",
                dataType: "json",
                data: {
                    "username": $("#username").val(),
                    "password": $("#password").val()
                },
                success: function (result, status) {
                    //alert(result);
                    if (!result) {
                        alert("Wrong credentials!");
                    } else {
                        location.href = "/profile?";
                    }
                }
            });//ajax
            return false;
        }); //submit
    }); //document.ready
</script>
</head>

<body>

    <h1> User Login Screen </h1>

    <div class="d-flex justify-content-center m-5">
        <form class="w-25">
            <label for="username" class="mr-auto">Username</label>
            <input class="form-control mb-3" type="text" id="username" name="username" placeholder="Username">
            <label for="password" class="mr-auto">Password</label>
            <input class="form-control mb-3" type="password" id="password" name="password" placeholder="Password">

            <br>
            <button class="btn btn-success ml-auto" id="loginBtn"> Login! </button>
            <br>
        </form>

    </div>
    <a href="/">Back to Welcome Page</a>

</body>

</html>