body{
    min-height: 100%;
    color:rgb(15, 0, 21);
    margin:50px;
    /*background-image: url("../img/theRealSanders.jpg");*/
    background-color: lightblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    /*text-shadow: 1px 1px 1px black, */
    /*            -1px 1px 1px black,*/
    /*            1px -1px 1px black;*/
    text-align:center;
}

#textbox{
    border: solid 5px yellow;
    background: linear-gradient(red, yellow);
}

table
{
    margin-left:auto; 
    margin-right:auto;
}

.jumbotron {
    background-image: url("../img/HeartsFuzz.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    text-shadow:
        -1px -1px 2px black,
        0px -1px 2px black,
        1px -1px 2px black,
        -1px 0px 2px black,
        0px 0px 2px black,
        1px 0px 2px black,
        -1px 1px 2px black,
        0px 1px 2px black,
        1px 1px 2px black;
    
}

.btn-outline-danger{
    background-color: white;
    color:black;
}

h1 {
    color:royalblue;
    background-color: black;
    margin-left: 20px;
    font-family: 'Courier New', cursive;
    border-radius: 15px;
}

#nava {
    padding: 20px;
    color:darkgrey;
    box-shadow: 5px 5px 10px #999;
}

html {
  height: 100%;
}

#mainpics {
    border-radius: 50px;
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
    height: 400px;
}

img.profilepic {
    width: 15em;
    height: 15em;
}

.dropzone {
    width: 15em;
    height: 15em;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
}

.dz-message {
    margin: 0 !important;
}

#curr_thumbnail {
    width: 15em;
    height: 15em;
    display: none;
}

a.remove-button:hover {
    color: #007bff;
}

a.disabled {
    color: #444444;
    cursor: default;
}

a.disabled:hover {
    color: #444444;
    cursor: default;
    text-decoration: none;
}


footer {
    text-align: center;
    display:flex;
    right:0px;
    color:lightblue;
    background-image: url("../img/HeartsFuzz335x175.jpg");
    padding: 20px;
    width: 335px;
    height: 175px;
    margin: auto;
    border-radius: 8px;
    /*text-shadow: 1px 1px 1px black, */
    /*            -1px 1px 1px black,*/
    /*            1px -1px 1px black;*/
}
